body {
    background-image: url('../img/首頁底圖.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(141, 190, 215, 0.5);
    background-blend-mode: multiply;
    /*新增遮罩*/
}



.title {
    width: 50%;
    height: 30%;
    display: block;
    margin: 1% auto;
    margin-bottom: 0;
}

.intro {
    display: block;
    background-color: white;
    border: 5px solid #f1ff77e4;
    border-color: rgb(245, 231, 154);
    width: 60%;
    margin: auto;
    border-radius: 15px;
    padding: 1%;
    text-align: center;
}

.start {
    display: block;
    background-color: pink;
    width: 10%;
    text-align: center;
    padding: 2%;
    margin: auto;
    margin-top: 1%;
    border-radius: 15px;

}

/*字體*/
.intro {
    font-size: 1.5em;
}

.start {
    font-size: 2em;
    position: relative;
    z-index: 100;

}

.menu {
    position: fixed;
    display: block;
    width: 5%;
    height: 8%;
    top: 5%;
    left: 2%;
}

.block {
    width: 20%;
    height: 100%;
    display: block;
    background-color: rgb(99, 136, 150);
    position: fixed;
    top: 0%;
    left: -20%;
    border-radius: 5%;
    font-size: 2em;
    transition: background-color 0.5s;
}

.noblock {
    position: fixed;
    display: none;
    width: 81%;
    height: 100%;
    top: 0%;
    left: 19%;
}

.ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

li:hover {
    background-color: beige;


}