body{
    background-image: url('../img/廚房底圖.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(141, 190, 215, 0.5);

}
.open-refregi{
    display: none;
    position: fixed;
    width: 49%;
    height: 88%;
    left: 47%;
    top: 7%;
    bottom: 21%;


}
.refregi{
    position: fixed;
    display: block;
    width: 30%;
    height: 88%;
    left: 47%;
    top: 6%;
    bottom: 20%;

}
.Faucet{
    position: fixed;
    display: block;
    width: 2%;
    height: 11.5%;
    left: 36.9%;
    bottom: 39.3%;
}
.water{
    position: fixed;
    display: none;
    width: 7%;
    height: 11%;
    left: 34.1%;
    bottom: 38.5%;

}
.water-more{
    position: fixed;
    display: none;
    width: 29%;
    height: 40%;
    left: 25%;
    bottom: 2%;

}

.map{
    display: block;
    width: 10%;
    right: 2%;
    bottom: 2%;
    position: fixed;
}