* {
    margin: 0%;
    padding: 0%;
}


body {
    background-image: url('../img/浴室.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.light1 {
    /*on*/
    display: block;
    width: 3%;
    position: fixed;
    top: 38.5%;
    left: 84.6%;
}

.light2 {
    /*off*/
    width: 3%;
    display: none;
    position: fixed;
    top: 38.5%;
    left: 84.6%;
}

.music {
    cursor: pointer;
    position: absolute;
    width: 25%;
    height: 35%;
    top: 60%;
    left: 64%;
    background-color: rgba(255, 255, 255, 0);
}

.dark {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.709);
    padding: 19%;
    padding-bottom: 34%;
    /*問問*/
}

.off2 {
    width: 3%;
    height: 10%;
    display: none;
    position: fixed;
    top: 38.5%;
    left: 84.6%;

}

.mirror {
    width: 21%;
    height: 35%;
    display: none;
    position: fixed;
    border-radius: 5%;
    top: 7%;
    left: 58.5%;
    background-color: rgba(58, 58, 58, 0.661);
}

.mirror2 {
    width: 19%;
    height: 32%;
    display: none;
    position: fixed;
    border-radius: 5%;
    top: 8.5%;
    left: 59.5%;
    background-color: rgba(108, 95, 95, 0.233);
}

.blackcat {
    width: 13%;
    display: none;
    position: fixed;
    top: 14.5%;
    left: 62.5%;
    opacity: 0.7;
}

.map {
    position: fixed;
    width: 10%;
    top: 80%;
    left: 90%;
}